.vs/slnx.sqlite
.vs/slnx.sqlite~Stashed changes
obj/Debug/net6.0/avansTeam.assets.cache
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/avansTeam.csproj.AssemblyReference.cache
obj/Release/net6.0/avansTeam.RazorAssemblyInfo.cs
obj/Debug/net6.0/apphost.exe
