
@{
    ViewData["Title"] = "Home Page";
}

<div id="movies">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-md-4">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="@item.Image" />
                </a>
            </div>
        }
    </div>

</div>
